<h1>Beers#index</h1>


<!-- logout -->
<%= link_to "Log out", sessions_path, method: :delete %>

<!-- welcome text and list -->
<p class="list_text">
<h1 class="list_text">Welcome <%= @user.name%>!</h1>
<!-- needs to be filtered to user beers, probably in get route: -->
<% @beers.each do |beer| %></p>
<p class="list_text"><%= beer.name %>, <%=link_to "#{beer.link}", "http://#{beer.link}"%> ,<%= beer.final_score %>
</p>

<!-- use class="pure-form button" for pure css -->



<!-- delete a beer -->


<%= button_to "delete", beer_path(:id => beer.id), :method => :delete %>

<!-- edit a beer -->

<%= link_to "edit a beer", edit_beer_path(beer.id) %>

<% end %>


<!-- add a beer -->
<br>


<%= link_to "add a beer", new_beer_path %>
</br>

<!-- edit a user -->
<br>
<%= link_to "edit a user", edit_user_path(@user.id) %>
</br>


